<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.DefaultCompany.VRPool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1" />

    <application
        android:label="VRPool"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        tools:replace="android:theme">

        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>

            <meta-data android:name="com.oculus.handtracking.frequency" android:value="LOW" />
            <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />
        </activity>
    </application>
</manifest>
